*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

:root
{
    --bg-color: #1e1e1e;
    --text-color: #bdc3c7;
    --hover-color: #ffffff;
    --accent-color: #2c3e50; 
    --page-bg-color: #212121;
    --page-bg-color-2: #303030;
    --accent-color: rgb(119, 76, 3);
    --accent-hover: rgb(163, 106, 0);
}

.poppins-extralight 
{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
  
.poppins-regular 
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-bold 
{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}