.faq-page
{
    background-color: var(--page-bg-color);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq-page ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.faq-li
{
    width: 900px;
    text-align: left;
    margin: 40px 0px;
    border-bottom: 1px solid orange;
    padding-bottom: 10px;
}

.question
{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.6rem;
}

.orange
{
    color: orange;
    margin: 0px 10px;
}

.answer
{
    display: block;
    color: var(--text-color);
    font-size: 1.1rem;
    transition: all .3s;
    max-height: 100px;
    padding-top: 5px;
}

.hidden
{
    visibility: hidden;
    opacity: 0%;
    max-height: 0;
}

.faq-page-heading
{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
}

@media only screen and (max-width: 900px)
{
    .faq-page
    {
        background-color: var(--page-bg-color);
        height: auto;
        width: 100%;
        padding: 20px;
    }

    .faq-li
    {
        width: 90%;
        text-align: left;
        margin: 20px 0px;
        padding-bottom: 10px;
    }

    .question
    {
        font-size: 1.2rem;
    }

    .answer
    {
        font-size: 1rem;
        max-height: 350px;
    }

    .hidden
    {
        visibility: hidden;
        opacity: 0%;
        max-height: 0;
    }

    .faq-page-heading
    {
        font-size: 1.4rem;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .orange
    {
        margin: 0px 5px;
    }
}

@media (min-width:901px) and (max-width:1600px) 
{
    .faq-page ul
    {
        margin-top: 140px;
    }
}